:root {
    --custom-background-color: #D8BFD8;
  }
  
  .bg-primary {
    background-color: var(--custom-background-color) !important;
  }
  
  .nav-link.active {
    background-color: var(--custom-background-color) !important;
  }
  
  .btn-primary {
    background-color: var(--custom-background-color) !important;
    text-align: left;
  }
  
  .dropdown-item:active {
    background-color: var(--custom-background-color) !important;
  }
  
body {
    padding: 20px;
  }
  h1,
  h2,
  h3,
  a {
    font-weight: normal;
    color: #0e0115;
    margin: 0px;
  }

  